main.wrapper {
    max-height: 31.4em;
}

.wrapper header p.article-tag {
    font-size: .77em;
    padding: .45em .95em;
    margin-bottom: 1.17em;
}

.wrapper header p.time-info {
    font-size: 0.75em;
    margin-bottom: 1.34em;
}

.wrapper main h1 {
    font-size: 1.26em;
    margin-bottom: .7em;
}

.wrapper main p {
    font-size: .87em;
    line-height: 1.5em;
    margin-bottom: 1.7em;
}

.wrapper footer.author-info {
    gap: .75em;
}

.wrapper footer a.author-name {
    font-size: .9em;
}
